.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

table {
  text-align: left;
  justify-content: none;
  font-family: "Roboto", sans-serif;
  /* border-collapse: separate;
  background-color: grey; */
  /* width: 90%; */
}

.table tbody {
  border: grey solid 1px;
}

.table th {
  font-weight: 500;
}

.App-header {
  background-color: #8f96a3;
  min-height: 8%;
  display: flex;
  flex-direction: row;
  align-items: space-around;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Light-blue {
  background-color: rgb(105, 186, 186);
}

.App-body {
  display: flex;
  justify-content: center;
  background-color: rgb(17, 17, 41);
  height: 100vh;
  /* opacity: .2; */
  z-index: -2;
}

.App-link {
  color: #61dafb;
}

.Flex-Container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.Flex-Wrap {
  flex-wrap: wrap;
}

.Title {
  display: flex;
  width: 50vw;
  height: 80%;
  flex-direction: column;
  /* background-color: darkgray; */
  font-size: 15px;
  align-self: center;
  justify-content: center;
  margin-bottom: 3%;
}

.Row {
  flex-direction: row;
  display: flex;
  height: "auto";
  width: "auto";
}

.Column {
  display: flex;
  flex-direction: column;
}

.Center {
  flex-direction: center;
}

.Row-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2%;
  min-height: 85px;
}

.Height-80 {
  display: flex;
  height: 20%;
  width: 60%;
  margin-top: 15%;
}

.Height-75 {
  display: flex;
  height: 75%;
  margin-top: 5%;
}

.Height-40 {
  display: flex;
  height: 40%;
}

.Height-20 {
  display: flex;
  height: 20%;
}

.Width-50 {
  width: 50%;
  max-width: 50rem;
  border-radius: 10%;
  background-color: rgb(181, 228, 228);
}

.Width-75 {
  width: 60rem;
  min-width: 30rem;
  border-radius: 10%;
  background-color: rgb(181, 228, 228);
  margin-bottom: 3%;
}

.Table-box {
  height: 50vh;
  background-color: lightgreen;
}

.Margin-top {
  margin-top: 25%;
}

.Flex-End {
  justify-content: flex-start;
  align-self: center;
  display: flex;
}

.Margin-top {
  margin-top: 10%;
}

h1 {
  justify-content: center;
}

.Button {
  align-items: center;
  background-color: grey;
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: default;
  box-sizing: border-box;
  border: 2px;
  height: 40px;
  font-size: 20px;
  opacity: 0.5;
  border-radius: 15%;
  margin: 3px;
  padding: 1px 7px 2px;
}

.White {
  color: white;
  /* text-decoration: underline; */
}

.Grey {
  color: rgb(92, 92, 92);
}

.Lightgrey {
  background-color: rgb(220, 220, 220);
}

.Black {
  color: black;
}

.Lighter-blue {
  background-color: rgb(181, 228, 228);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
