.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: space-around;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Flex-Container {
  display: flex;
  width: 100%;
  background-color: lightcoral;
  flex-direction: column;
  justify-content: space-between;
}



.Title {
  display: flex;
  width:50vw;
  height: 80%;
  flex-direction: column;
  /* background-color: darkgray; */
  font-size: 15px;
  align-self: center;
  margin-bottom: 3%
}

.Row {
  flex-direction: row;
  display: flex;
  height: 20%;
}

.Column {
  display: flex;
  flex-direction: column;
}

.Center {
  flex-direction: center;
}

.Row-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* background-color: lightgrey; */
  height: 20%;
}

.Height-80 {
  display: flex;
  height: 60%;
  margin-top: 15%;
}

.Height-50 {
  display: flex;
  height: 100%;
}

.Table-box {
  height: 50vh;
  background-color: lightgreen;
}

.Flex-End {
  justify-content: flex-end;
  display: flex;
}

h1 {
  justify-content: center;
}

.Button {
  height: 40px;
  font-size: 15px;
  opacity: 0.5;
  border-radius: 15%;
  margin: 3px;
}


.Color {
  color:coral;
  font-size: 25px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
